{% extends 'base.html' %}

{% block content %}
  <h1>Welcome to PieTV</h1>
  <p>Please log in:</p>

  <form action="/login/" method="post">
    <div class="form-group col-sm-4">
      <select name="customer" class="form-control ">
        {% for customer in customers %}
          <option value="{{ customer.customerId }}">{{ customer.name }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="form-group col-sm-4">
      <button class="btn btn-primary">Log in</button>
    </div>
  </form>
{% endblock %}
